/* add css module styles here (optional) */

.header {
  color: cadetblue;
  font-weight: 200;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.margin {
  margin: 10px;
}

.flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginRight {
  margin-right: 5px;
}

.textCenter {
  text-align: center;
}
